:root {
  --light-shade: #1111;
  --medium-shade: #3333;
  --mist: #fdfeff;
  --mist-trans: #fdfeff99;
  --castiron: #332727;
  --cerulean: #05f;
  --bg-color: var(--mist);
  --fg-color: var(--castiron);
  --header-bg-color: var(--mist-trans);
  --link-fg-color: var(--cerulean);
}
html { 
  background: var(--bg-color);
  color: var(--fg-color); 
}
body, header {
  display: flex;
  flex-direction: column;
}
body {
  margin: auto;
  width: calc(100vw - 20px);
  height: 100vh;
  header {
    display: flex;
    flex-direction: column;
    background: var(--header-color);
    height: 100px;
    justify-content: center;
    h1 {
      margin: 0;
    }
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    #question, article {
      display: inline-flex;
      width: 100%;
      margin-top: -5px;
      background: var(--bg-color);
      border: 3px dotted var(--fg-color);
      box-sizing: border-box;
      font-size: 24px;
      padding: 20px;
      padding-left: 60px;
      list-style-type: '> ';
    }
    #question {
      max-width: 540px;
      border: 3px dotted var(--fg-color);
      box-sizing: border-box;
    }
    article {
      background: var(--fg-color);
      color: var(--mist);
    }
    form {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      width: calc(100% - 20px);
      max-width: 470px;
      label {
        background-color: var(--mist-trans);
        display: inline-flex;
        justify-content: space-between;
        position: relative;
        width: calc(100% - 40px);
        padding: 20px;
        font-size: 21px;
        cursor: pointer;
        ~ label {
          margin-top: 20px;
        }
        span {
          width: calc(100% - 40px);
        }
        .border, input[type="radio" i] {
          border: 2px solid var(--medium-shade);
        }
        .border {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;            
        }
        input[type="radio" i] {
          height: 15px;
          width: 15px;
          cursor: default;
          appearance: unset;
          box-sizing: border-box;
          margin: 5px 3px 0px 5px;
          box-sizing: border-box;
          outline: none;
          &:checked {
            background: var(--fg-color);
            ~ .border {
              border-color: var(--fg-color);
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;            
              border-width: 2px;
            }
          }
        }
        input::before {
          height: 15px;
          width: 15px;
          background: var(--fg-color);
        }
      }
    }
  }
  footer {
    display: flex;
    position: fixed;
    width: calc(100vw - 20px);
    height: 150px;
    bottom: 0;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-start;
    #message {
      color: var(--bg-color);
      background: var(--fg-color);
      display: flex;
      padding: 15px;
      margin-bottom: 40px;
      align-items: center;
      min-height: 40px;
      text-align: center;
      pointer-events: none;
      transition-property: opacity;
      transition-delay: 3s;
      transition-duration: 1s;
      &.hidden { display: none; }
      &.fade-out {
        opacity: 0;
      }
    }
    button {
      font-family: 'Icon';
      cursor: pointer;
      outline: none;
      flex-shrink: 0;
      font-size: 30px;
      font-variation-settings: 'wght' 150;
      height: 70px;
      width: 70px;
      margin: 40px;
      padding: 0;
      &[type='button'] {
        margin-right: 20px;
        background: var(--bg-color);
        border: 2px solid var(--fg-color);
        &:before {
          content: 'h';
        }
      }
      &[type='submit'] {
        margin-left: 20px;
        background: var(--fg-color);
        color: var(--bg-color);
        border: none;
        &:before {
          content: 'l';
        }
      }
    }
  }
}

button, label {
  transition-property: transform box-shadow;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  &:hover, &:focus {
    transform: scale(1.005);
    box-shadow: 0 0px 10px 0.5px var(--light-shade);
  }
  &:active {
    transform: scale(0.995);
    box-shadow: none;
  }
}
button:hover, button:focus {
  transform: scale(1.01);
}
button:active {
  transform: scale(0.99);
}